.App {
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
}

.post {
    margin: 10px 0;
    padding: 20px;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    color: #333;
    background-color: #fff;

}
h1 {
    color: #fff;
}
 .error-message {
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: red;
    font-weight: bolder;
 }